*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    padding: 90px 20px 0;
    background-color: black;
}

.header{
    background-color: rgb(142, 142, 142);
    height: 80px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

/*------------------------------*/
/*-------Barra Navegacion-------*/
/*----------Escritorio----------*/

.nav{
    display: flex;
    justify-content: space-between;
    max-width: 992px;
    margin:0 auto;
    
}
/*--------------------------------------*/
.nav_link {
    text-decoration: none;
    color: white;
}
/*--------------------------------------*/
.logo{
    font-size: 25px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}
/*--------------------------------------*/
.nav_menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav_menu_item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 80px;
    /* text-transform: uppercase; */
    width: max-content;
}

.nav_menu_link:hover{
    background-color: #034574;
    padding: 5px 5px;
    border-radius: 10px;
    transition: 500ms;
}

.nav_toggle{
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
}

/*------------------------------*/
/*-------Barra Navegacion-------*/
/*------------Movil-------------*/

@media (max-width: 768px){ /*Aplicara estos estilos cuando la resolucion se modifique*/
    body{
        padding: 70px 20px 0;
    }

    .header{
        height: 60px;
    }

    .logo{
        font-size:25px;
        padding: 0 20px;
        line-height: 60px;
    }

    .nav_menu{
        flex-direction: column;
        margin: 0px;
        background-color: #2c3e50;
        position: fixed;
        top:60px;
        width: 100%;
        align-items: center;
        padding: 20px 0;

        height: calc(100% - 60px);/*ajusta la altura usando el logo*/
        overflow-y: auto;/*Agrega scroll al menu*/

        left: 100%;
        transition: left 0.3s;
    }

    .nav_menu_item{
        line-height: 70px;
    }

    .nav_menu_link:hover,
    .nav_menu_link_active{
        background: none;
        color: #83c5f7;
    }

    .nav_toggle{
        display: block;
    }

    .nav_menu_visible{
        left: 0;
    }
}

/*--------------------------------*/
/*------------Sobre mi------------*/
/*--------------------------------*/

.section_sobre_mi {
    min-height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(73, 72, 72, 0.8);
    position:absolute;
    z-index: 0;
    top:-10px;
    width: 100%;
    
}
/*--------------------------------------*/
.picture_sobre_mi img{
    width: auto;
    height: 40vh;
    border-radius: 50%;
}
/*--------------------------------------*/
.background_sobre_mi{
    background-color: rgba(115, 111, 111, 0.287);
    /* background-image: url(/Mi-Pagina/images/sobre_mi_bg.jpg); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
  }
/*--------------------------------------*/

.nombre {
    font-size: 60%;
    text-shadow: 1px 1px rgb(255, 255, 255);
    color: rgba(46, 46, 235, 0.853);
}

.saludo,
.trabajo {
  font-size: 45px;
  max-height: 10vw;
  color: #f5f5f5;
  text-shadow: 1px 1px black;
}
/*--------------------------------------*/

@media (max-width: 491px){
    .section_sobre_mi {
        min-height: 70vh;
        display: block;
        justify-content: center;
        align-items: center;
        background: rgba(73, 72, 72, 0.8);
        position:relative;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
    }
    /*--------------------------------------*/
    .picture_sobre_mi{
        align-items: center;
        padding: 10px 60px;
        height: 25vh;
    }
    /*--------------------------------------*/
    .background_sobre_mi {
        background-color: rgba(115, 111, 111, 0.287);
        /* background-image: url(/Mi-Pagina/images/sobre_mi_bg.jpg); */
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: -1;
      }
    
    .nombre {
        font-size: 40px;
        text-shadow: 1px 1px rgb(255, 255, 255);
        color: rgba(46, 46, 235, 0.853);
    }
    
    .saludo,
    .trabajo {
      font-size: 25px;
      max-height: 10vw;
      color: #f5f5f5;
      text-shadow: 1px 1px black;
    }
}

